@{
    var userAccount = ViewData["user"];
    var pictures = ViewData["picture"] as List<ImageDetails>;
}

<head>
    <link rel="stylesheet" href="~/css/singlePic.css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<style>
    #img_large {
        display: none; /* 預設隱藏 */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8); /* 半透明黑色背景 */
        z-index: 1000; /* 確保在最上層 */
        justify-content: center;
        align-items: center;
    }
    /* 大圖的樣式 */
    #large_image {
        max-width: 90%;
        max-height: 90%;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    }
    .btn-n1{
        margin: -55px 185px 0 auto;
        padding: 13px 43px;
    }

    .btn-n2{
        width: 175px;
        margin: -55px 190px 0 auto !important;
        padding: 13px 0 !important;
    }

    .u-btn-3{
        border-style: solid;
        text-transform: uppercase;
        font-weight: 700;
        margin: -55px 35px 0 auto;
        padding: 13px 53px;
    }

    .u-btn-4{
        margin: -55px 150px 0 1070px !important;
        padding: 13px 53px !important;
    }

    .star-rating {
        display: flex;
        gap: 5px;
        cursor: pointer;
    }

        .star-rating i {
            font-size: 2rem;
            /*color: gray;*/
            transition: color 0.2s;
        }

            .star-rating i.filled {
                /*color: gold;*/
            }

        .star-rating i {
            cursor: pointer;
            color: #ffcc00; /* 星星顏色 */
        }

            .star-rating i.fas {
                color: #ffcc00; /* 實心星星的顏色 */
            }

            .star-rating i.far {
                color: #ccc; /* 空心星星的顏色 */
            }
            .btn-rating{
                position:relative;
                left: 65px
            }
</style>

@if (pictures != null && pictures.Any())
{
    foreach (var pic in pictures)
    {
        <section class="u-clearfix u-section-1" id="sec-3197">
            <div class="u-clearfix u-sheet u-sheet-1">
                <div class="u-container-style u-expanded-width u-product u-product-1" data-products-datasource="site" data-product-id="@pic.id">
                    <div class="u-container-layout u-container-layout-1">
                        <!-- 顯示圖片 -->
                        <img alt="@pic.tag"
                             class="u-image u-image-contain u-image-default u-product-control u-image-1 dialog"
                             src="@Url.Content("~/images2/" + pic.id + ".webp")" />

                        <div id="img_large" style="display:none; text-align:center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(25,25,25,0.7);">
                            <img id="large_image" src="" alt="Large Image" style="max-width: 80%; max-height: 80%; border: 3px solid #ccc; margin-top: 5%;" />
                        </div>
                        <h2 class="u-product-control u-text u-text-default u-text-1">
                            @pic.tag
                        </h2>

                        <div data-add-zero-cents="true" class="u-product-control u-product-price u-product-price-1">
                            <div class="u-price-wrapper u-spacing-10">
                                <div data-product-id="@pic.id" class="u-price u-text-palette-2-base star-rating" style="font-size: 1.5rem; font-weight: 700">
                                    <i class="far fa-star" data-value="1"></i>
                                    <i class="far fa-star" data-value="2"></i>
                                    <i class="far fa-star" data-value="3"></i>
                                    <i class="far fa-star" data-value="4"></i>
                                    <i class="far fa-star" data-value="5"></i>
                                </div>
                                <button id="submit-rating" class="btn-rating">提交評分</button>
                                <input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />
                            </div>
                        </div>

                        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>

                        <div class="u-product-control u-product-full-desc u-text u-text-2">
                            <span>照片格式</span><br />
                            <span>@pic.width </span>
                            <span>X </span>
                            <span>@pic.height</span>
                            <span>像素</span>
                        </div>

                        <div>
                            <a href="#sec-2442" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-product-control u-btn-1 u-dialog-link u-payment-button btn-n1">
                                加入購物車
                            </a>

                            <a href="javascript:void(0);" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-product-control u-btn-2 btn-n2 heart-btn" data-id="@pic.id">
                                <i class="heart @(pic.isFavorited ? "fas fa-heart" : "far fa-heart")" style="color: red;"></i>
                                <span>&nbsp;@(pic.isFavorited ? "從我的最愛移除" : "加入我的最愛")</span>
                            </a>

                            <a href="@Url.Content("~/images2/" + pic.id + ".webp")" download="@($"{pic.id}.jpg")" class="u-border-2 u-border-black u-btn u-button-style u-hover-black u-none u-product-control u-btn-3 ">
                                下載
                            </a>

                            <div class="a2a_kit a2a_kit_size_32 a2a_default_style u-btn-4" data-a2a-url="@($"https://localhost:7128/images2/{pic.id}.webp")" title="分享">
                                <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}


@section scripts {
    <script defer src="https://static.addtoany.com/menu/page.js"></script>
    <script>
        $(function () {
            // 點擊圖片顯示大圖
            $(".dialog").click(function () {
                var imgSrc = $(this).attr("src"); // 取得點擊圖片的 src
                var largeImage = $('#large_image');

                // 設定大圖的 src
                largeImage.attr("src", imgSrc);

                // 顯示背景和大圖
                $('#img_large').fadeIn(300);
            });

            // 點擊大圖背景關閉
            $('#img_large').click(function () {
                $(this).fadeOut(300);
            });
        });

        var userAccount = '@ViewData["user"]';

    </script>
    <script src="~/js/PicScore.js" ></script>
}